{
  "project_info": {
    "project_id": "smartfleet-dev",
    "project_number": "YOUR_PROJECT_NUMBER",
    "firebase_url": "https://smartfleet-dev.firebaseio.com",
    "storage_bucket": "smartfleet-dev.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "YOUR_ANDROID_APP_ID",
        "android_client_info": {
          "package_name": "com.smartfleetpro.totaltracking.dev"
        }
      },
      "api_key": [
        {
          "current_key": "YOUR_ANDROID_API_KEY"
        }
      ]
    },
    {
      "client_info": {
        "mobilesdk_app_id": "YOUR_IOS_APP_ID",
        "ios_client_info": {
          "bundle_id": "com.smartfleetpro.totaltracking.dev"
        }
      },
      "api_key": [
        {
          "current_key": "YOUR_IOS_API_KEY"
        }
      ]
    }
  ],
  "configuration_version": "1"
}
